@font-face {
  font-family: 'portersans';
  src: url("fonts/portersans/porter-sans-inline-block-webfont.eot");
  /* IE9 Compat Modes */
  src: url("fonts/portersans/porter-sans-inline-block-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/portersans/porter-sans-inline-block-webfont.woff") format("woff"), url("fonts/portersans/porter-sans-inline-block-webfont.ttf") format("truetype"), url("fonts/portersans/porter-sans-inline-block-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'turnpike';
  src: url("fonts/turnpike/turnpike-webfont.eot");
  /* IE9 Compat Modes */
  src: url("fonts/turnpike/turnpike-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/turnpike/turnpike-webfont.woff") format("woff"), url("fonts/turnpike/turnpike-webfont.ttf") format("truetype"), url("fonts/turnpike/turnpike-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'minimal';
  src: url("fonts/minimal/minimal-webfont.eot");
  /* IE9 Compat Modes */
  src: url("fonts/minimal/minimal-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/minimal/minimal-webfont.woff") format("woff"), url("fonts/minimal/minimal-webfont.ttf") format("truetype"), url("fonts/minimal/minimal-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: azure;
  color: #6a7f78;
  line-height: 1.2em;
  font-size: 1em;
  font-family: 'minimal', helvetica, arial, sans-serif; }

a {
  color: #447f6a; }

a:hover {
  color: #88ffd4; }

a:focus {
  color: #88ffd4; }

a:visited {
  color: #447f6a; }

a.hover-button {
  color: red; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'portersans', helvetica, arial, sans-serif; }

h1.title {
  font-family: 'portersans', helvetica, arial, sans-serif;
  font-size: 500%;
  font-weight: 900;
  color: #447f6a;
  line-height: 100%;
  text-align: center; }

h1.subtitle {
  font-family: 'turnpike', helvetica, arial, sans-serif;
  margin-bottom: 40px;
  text-align: center; }

p {
  font-family: 'minimal', helvetica, arial, sans-serif;
  color: red; }

.left-col {
  border-radius: 2px;
  width: 49.95%;
  margin-right: 1%;
  height: 40%;
  margin: 5% 0;
  float: left; }

.right-col {
  border-radius: 2px;
  width: 49.95%;
  height: 40%;
  margin: 5% 0;
  float: right; }

.center-column {
  margin: 0 29.19%;
  width: 41.62%;
  margin-top: 1%;
  height: 40%; }

label {
  font-weight: 500;
  font-size: 1.5em;
  color: #447f6a; }

input[type=submit] {
  display: block;
  background-color: #447f6a;
  color: #d4fff0;
  border: none;
  padding: 5px 10px;
  font-size: 1.5em;
  font-weight: 900;
  border: #6a7f78;
  border-radius: 2px; }

input[type=text] {
  background-color: azure;
  border: 2px solid #6a7f78;
  border-radius: 2px;
  font-size: 1.5em;
  color: #6a7f78;
  text-align: left; }

input[type=password] {
  background-color: azure;
  border: 2px solid #6a7f78;
  border-radius: 2px;
  font-size: 1.5em;
  text-align: left; }

*:focus {
  outline: 0; }

.bump {
  margin-top: 1%; }

.bump2 {
  margin-top: 5%; }

.shoveit {
  margin: 1%; }

.header-align {
  text-align: center; }

.centered {
  margin-left: 17%; }

.centered2 {
  margin-left: 25%; }

.github-access {
  color: #447f6a;
  text-align: center; }

.column-header {
  text-align: center;
  width: 99.89%; }

.dropdown-centered {
  margin: 0 10%; }

.goals-description {
  margin: 40% 2%;
  text-align: centered; }

.emphasis-box {
  background-color: #aaccc0;
  padding: 2%;
  border-radius: 2px; }

.emphasis-box-goals {
  background-color: #aaccc0;
  padding: 2%;
  border-radius: 2px;
  min-height: 550px; }

.goals-box {
  width: 99.89%;
  min-height: 500px; }

.goals-box-left {
  width: 33.3%;
  margin: 1%;
  background-color: #447f6a;
  color: azure;
  float: left;
  display: inline-block;
  height: 200px; }

.goals-box-right {
  width: 33.3%;
  margin: 1%;
  background-color: #447f6a;
  color: azure;
  float: right;
  display: inline-block;
  height: 200px; }

.login-button {
  position: relative;
  margin: 5%;
  padding: 20px 30px;

  display: inline;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  border-radius: 2px;
  background-color: #aaccc0; }

  .github_login-button {
  position: relative;
  left:48%;
  padding: 20px 30px;

  display: inline;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  border-radius: 2px;
  background-color: #aaccc0; }
