// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
	font-family: 'portersans';
	src: url('fonts/portersans/porter-sans-inline-block-webfont.eot'); /* IE9 Compat Modes */
	src: url('fonts/portersans/porter-sans-inline-block-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/portersans/porter-sans-inline-block-webfont.woff') format('woff'), /* Modern Browsers */
	     url('fonts/portersans/porter-sans-inline-block-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/portersans/porter-sans-inline-block-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	}

@font-face {
	font-family: 'turnpike';
	src: url('fonts/turnpike/turnpike-webfont.eot'); /* IE9 Compat Modes */
	src: url('fonts/turnpike/turnpike-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/turnpike/turnpike-webfont.woff') format('woff'), /* Modern Browsers */
	     url('fonts/turnpike/turnpike-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/turnpike/turnpike-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	}

@font-face {
	font-family: 'minimal';
	src: url('fonts/minimal/minimal-webfont.eot'); /* IE9 Compat Modes */
	src: url('fonts/minimal/minimal-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/minimal/minimal-webfont.woff') format('woff'), /* Modern Browsers */
	     url('fonts/minimal/minimal-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/minimal/minimal-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	}


// COLORS
$cool-white: #f0ffff;
$gray-green: #6a7f78;
$light-aqua: #88FFD4;
$mint-green: #d4fff0;
$deep-teal: #447f6a;
$cool-gray-green: #AACCC0;

// GENERAL
body {
	background-color: $cool-white;
	text-color: $gray-green;
	font-family: 'minimal', helvetica, arial, sans-serif;
} 

a {
	color: $deep-teal;
}

a:hover {
	color: $light-aqua;
}

a:focus {
	color: $light-aqua;
}

a:visited {
	color: $deep-teal;
}



//FONTS
h1, h2, h3, h4, h5, h6 {
	font-family: 'portersans', helvetica, arial, sans-serif;
	// color: yellow;
}

h1.title {
	font-family: 'portersans', helvetica, arial, sans-serif;
	font-size: 800%;
	color: $deep-teal;
	text-align: center;
}
h1.subtitle {
	font-family: 'turnpike', helvetica, arial, sans-serif;
	text-align: center;
}

p {
	font-family: 'minimal', helvetica, arial, sans-serif;
	color: red;
}

// INPUT STYLING

label{
	font-weight: 500;
	color: $deep-teal;
}

input[type=submit] {
	display: block;
	background-color: $deep-teal;
	color: $mint-green;
	border: none;
	font-weight: 900;
	border: $gray-green;
}


input[type=text]{
	background-color: $cool-white;
	border: 2px solid $gray-green;
	color: $gray-green;
	text-align: left;

}

input[type=password]{
	background-color: $cool-white;
	border: 2px solid $gray-green;
	text-align: left;

}

*:focus {
    outline: 0;
}

//BUTTONS

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  background-color: $mint-green;
  border: none;
  border-radius: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;

}
.btn:hover,
.btn:focus {
  color: $cool-white;
  background-color: $light-aqua;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

