

<div class="alt0">
		<div class="container">
			<div class="jumbotron small text-center">
				<h1><a href="#" id="nav--we">We</a></h1>
			</div>
		</div> 
	</div> 
<div class="alt">
	<div class="container">
		<div class="jumbotron small text-center">
			<h1><a href="#" id="nav--listen">Commit</a></h1>
		</div>
	</div> 
</div> 
<div class="alt1">
	<div class="container">
		<div class="jumbotron small text-center">
			<h1><a href="#" id="nav--design">To Doing</a></h1>
		</div>
	</div> 
</div> 
<div class="alt2">
	<div class="container">
		<div class="jumbotron small text-center">
			<h1><a href="#" id="nav--build">More</a></h1>
		</div>
	</div> 
</div> 

<footer>
	&nbsp
</footer>

<!-- sign up was here --> 

