<h2> MY GOALS</h2>

 <p><%= link_to "Create a goal now!", new_user_goal_path %></p>
 
  <%counter = 1%>
  <p><% @goals.each do |goal| %></p>

  <%= "#{counter}. #{goal.name}" %>

  <%counter += 1%>

  <% end %>

