<h2> MY GOALS</h2>

 <p><%= link_to "Create a goal now!", new_user_goal_path %></p>
 
  <%counter = 1%>
  <% @goals.each do |goal| %>
  <ul>
  	<li style= "list-style-type:none; font-weight: 700;"><%= "#{counter}. #{goal.goal_type.name}" %></li>
  	<li style= "list-style-type:none;">My Charity:<%= " #{goal.charity.name}" %></li>
  	<li style= "list-style-type:none;">My Pledge:<%= " #{goal.monetary_amount} " %></li>
  </ul>
  <%counter += 1%>

  <% end %>

